<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fleta.employee.model.dao.CommentMapper">

    <insert id="createComment" parameterType="Comment">
        INSERT INTO comment (사번, 비고)
        VALUES      (#{사번}, #{비고});
    </insert>

    <delete id="deleteComment" parameterType="String">
        DELETE FROM comment
        WHERE 사번 = #{사번};
    </delete>

</mapper>