<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fleta.employee.model.dao.EmployeeMapper">

    <select id="getAllEmployee" resultType="com.fleta.employee.model.dto.Employee">
        SELECT * FROM employee;
    </select>

    <insert id="addEmployee" parameterType="map">
        INSERT INTO employee (사번, 이름, 입사년월일, 국적, 생년월일, 성별, 부서, 직급, 직종)
        VALUES      (#{사번}, #{이름}, #{입사년월일}, #{국적}, #{생년월일}, #{성별}, #{부서}, #{직급}, #{직종});
    </insert>

</mapper>