<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fleta.employee.model.dao.RoleMapper">

    <insert id="createRole" parameterType="Role">
        INSERT INTO role (사번, 등급)
        VALUES      (#{사번}, #{등급});
    </insert>

    <delete id="deleteRole" parameterType="String">
        DELETE FROM role
        WHERE 사번 = #{사번};
    </delete>

</mapper>