<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="AuthMapper.xml"/>
        <mapper resource="RoleMapper.xml"/>
        <mapper resource="EmployeeMapper.xml"/>
        <mapper resource="BankMapper.xml"/>
        <mapper resource="CommentMapper.xml"/>
    </mappers>
</configuration>